<nav>
    <div class="site-title">
      <a href="/"><h1>Blog Manga</h1></a>
      <p style="color:red">Top 10 most notorious serial killers</p>
    </div>
    <ul>
      <li><a href="/">Blogs</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/blogs/create">New Blog</a></li>
      <li><a href="/tournament">season Data</a></li>
    </ul>
  </nav>