
<html lang="en">
    <%- include("./partials/head.ejs") %>
    
    <body>
      <%- include("./partials/nav.ejs") %>
    
      <div class="about content">
        <h2>About Us</h2>
        <p> Kill one man you are murderer, kill a thousand you are a conqurer, kill them all you are a saint </p>
        
        
      </div>
    
      <%- include("./partials/footer.ejs") %>
    </body>
    </html>